.time{
    color: dodgerblue;
}

.box{
    height: 100px;
    width: 100px;
    background-color: dodgerblue;
}

.box2{
    height: 100px;
    width: 100px;
    background-color: tomato;
}
.btn{
    margin-left: 10px;
    margin-right: 20px;
}